body {
  margin: 0;
  font-family: Roboto;
  background-color: #444;
  color: white;
  height: 100%;
  width: 100%;
}
input {
  background-color: white;
}
button,.button,input {
  margin: 0;
  outline: none;
  font-size: 24px;
  line-height: 48px;
  border-radius: 37px;
  padding: 6px 24px;
  font-family: Roboto;
  box-sizing: border-box;
}
button,.button {
  flex: none;
  background-color: black;
  color: white;
  border: 2px solid white;
}
button.center,
button.left {
  padding-right: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
button.center,
button.right {
  padding-left: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
button.center {
  border-left: none;
  border-right: none;
}
button.selected {
  background-color: white;
  color: black;
}
input {
}
.button-group {
  display: flex;
  justify-content: center;
}
.button-row {
  display: flex;
  justify-content: space-evenly;
}